.main{
    grid-area: main;
    position: relative;
    background-color: aliceblue;
}




.form{
    grid-area:form;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 80%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    background-color: white;
}



.button{

    height: 2rem;
    width: 6rem;
    color: azure;
    background: darkkhaki;
    border-radius: 0.5rem;
}

.button:active{
    background: magenta;
}



.form__name--err {
    color: red;
}

.form__email--err {
    color: red;
}

.form__emailRepeat--err {
    color: red;
}

.form__tierSelect--err{
    color: red;
}




@media (min-width: 50rem) {
    .form{
        grid-template-areas:
    "label input";
    }

    .formDiv{
        width: 20%;

    }

    .form__label{
        margin-bottom: 1rem;
    }
    .input{
        margin-bottom: 1rem;
    }

    .button {
        grid-column-start: 1;
        grid-column-end: 3;

    }

}