  .accordion__container {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    background-color: var(--accordion-accrodion-container-background-color);
    align-items: center;

  }

  .accordion__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8rem;
    width: 100%;
    cursor: grabbing;
    border-radius: 0.8rem;
    background-color: var(--accordion-accordion-header-background-color);
    padding: 0.8rem;
    transition: background-color 0.3s ease;
  }

  .accordion__header:hover {
    background-color: var(--accordion-accordion-header-hover-background-color);
  }

  .accordion__title {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--accordion-accordion-title-color);
    margin: 0.2rem;
  }

  .accordion__content {
    padding: 0.7rem;
  }